/* SPDX-License-Identifier: AGPL-3.0-or-later */
:root {
  --bottom-navigation-height: calc(80px + env(safe-area-inset-bottom));
  --navigation-drawer-width: calc(230px + env(safe-area-inset-left));
  --navigation-drawer-compact-width: calc(82px + env(safe-area-inset-left));
  --bottom-pagination-height: calc(80px + env(safe-area-inset-bottom));
}
