:root {
  --bottom-navigation-height: calc(80px + env(safe-area-inset-bottom));
  --navigation-drawer-width: calc(230px + env(safe-area-inset-left));
  --bottom-pagination-height: calc(80px + env(safe-area-inset-bottom));
}
